@import url("vairables.css");
@import url("loader.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Estilos del cuerpo */
body {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 17rem;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
}

.sidebar-header {
    text-align: center;
    padding: 1rem;
}

.logo {
    width: 10rem;
}

.sidebar-header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-menu li {
    text-align: center;
    width: 100%;
}

.sidebar-menu li>a {
    display: flex;
    color: var(--color-white);
    text-decoration: none;
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.sidebar-menu li>a:hover {
    background-color: var(--color-blue);
}

/* Main Content */
.main-content {
    margin-left: 17rem;
    padding: 2rem;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

header h1 {
    font-size: 24px;
    color: var(--color-dark-blue);
}

header p {
    color: var(--color-text-dark);
}



.content-dashboard {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card {
    background-color: var(--color-gray);
    padding: 1.5rem;
    border-radius: 8px;
    flex: 1 1 calc(33.333% - 1rem);
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
    background-color: var(--color-light-blue);
    transform: scale(1.02);

}

.card h3 {
    color: var(--color-dark-blue);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Encabezado */
.card-header {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Contenido de la tarjeta */
.card-body {
    color: var(--color-dark-gray);
}

.card-body p {
    margin: 5px 0;
    font-size: 1em;
}

.label {
    color: var(--color-dark-blue);
    font-weight: bold;
}

.value {
    color: var(--color-blue);
}

/*Boton de toggle*/
.toggle-btn {
    display: none;
}

/* Responsividad */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    /* Botón de Toggle */
    .toggle-btn {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        color: var(--color-dark-blue);
        cursor: pointer;
    }

    .sidebar {
        transform: translateX(-100%);
        position: fixed;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }
}