@import url("vairables.css");
@import url("loader.css");
@import url("navSiderbar.css");

.content-dashboard {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  background-color: var(--color-gray);
  padding: 1.5rem;
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background-color: var(--color-light-blue);
  transform: scale(1.02);
}

.card h3 {
  color: var(--color-dark-blue);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Encabezado */
.card-header {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Contenido de la tarjeta */
.card-body {
  color: var(--color-dark-gray);
}

.card-body p {
  margin: 5px 0;
  font-size: 1em;
}

.label {
  color: var(--color-dark-blue);
  font-weight: bold;
}

.value {
  color: var(--color-blue);
}
/* Imagen dentro de la tarjeta */
.card-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
